$mobile-small: 402px !default;
$mobile: 728px !default;
$tablet: 934px !default; 

$mobile: 480px !default;
$tablet: 720px !default;
$desktop: 960px !default;
$widescreen: 1200px !default;

$mobile-media: 500px !default;
$tablet-media: 768px !default;
$desktop-media: 980px !default;
$widescreen-media: 1220px !default;

//test media

$tablet-small: 600px !default;
$mobile-large: 425px !default;
$mobile-medium: 375px !default;
$mobile-small: 320px !default;