$font-size-base: 14px;
$font-family-base: "Open Sans", sans-serif;
$base-text-color: $black-text;
$base-link-color: $blue;
$base-margin: 18px;

$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
$weight-light: 300;