.main {
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/pics/abstract.jpg');
    // image-set for FF, only jpg gets downloaded for not supporting browsers
    background-image: -webkit-image-set(url('../../img/pics/abstract.webp') 1x);
    background-size: cover;
    background-repeat: no-repeat;   
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: -60%;
        transform: skew(-45deg);
        background: #0b0d11;        
    } 
    
    &__info {
        position: relative;
        background-color: #e2e3e7;
    }
}